/*Especificidad -> 1*/
h1{
    text-align: center;
}

/*Especificidad -> 1*/
div {
    width: 100%;
    max-width: 40em;
    text-align: center;
    padding-bottom: 0.625em;
    padding-top: 0.65em;
    margin: auto;
    background: black;
    color: white;
    border-radius: 0.63em;
  }

  /*Especificidad -> 11*/
  input[type=text] {
      width: 81%;
      padding: 1em 2em;
      font-size: 1em;
      margin: 0.5em 0em;
      border: none;
      border-radius: 0.63em;
      text-align: left;
      color: black;
      background: white;
  }

  /*Especificidad -> 11*/
  input[type=button], input[type=submit], input[type=reset] {
      background-color: white;
      border: none;
      color: black;
      padding: 1em 1em;
      font-size: 1em;
      min-width: 17%;
      text-decoration: none;
      margin: 0.25em 0.2em;
      cursor: pointer;
      border-radius: 0.63em;
  }